<div class="container d-flex justify-content-center align-items-center">
    <div class="card p-4 shadow-lg bg-dark text-white" style="width: 24rem;">
        <h2 class="text-center mb-4">Rejestracja</h2>
        <div id="errorMessage" class="text-danger text-center invisible" style="font-size: 0.9rem;"></div>
        <div id="successMessage" class="text-success text-center invisible" style="font-size: 0.9rem;"></div>
        <form id="registerForm">
            <div class="mb-3">
                <label for="username" class="form-label">Nazwa użytkownika</label>
                <input type="text" id="username" name="username" class="form-control bg-dark text-white border-light" required placeholder="Wprowadź nazwę użytkownika">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Hasło</label>
                <input type="password" id="password" name="password" class="form-control bg-dark text-white border-light" required placeholder="Wprowadź hasło">
            </div>
            <div class="d-grid col-6 mx-auto">
                <button type="submit" class="btn btn-outline-light">Zarejestruj się</button>
            </div>
        </form>
        <div class="mt-3 text-center">
            <p>Masz już konto? <a href="/auth/login" class="bg-light text-dark text-decoration-none rounded-3 px-2 py-1 d-inline-block">Zaloguj się</a></p>
        </div>
    </div>
</div>
<script src="/js/register.js"></script>
